<nav class="navbar navbar-expand-lg navbar-light bg-light">

</nav>
<div class="contenedor-header">
    <div class="contenedor-search">
        <div class="label-input-search">
            <input type="text" placeholder="Search">
        </div>
        <div class="label-button-search">
            <button>Updrade your Plan</button>
        </div>


    </div>
    <div class="contenedor-user">
        <img src="../../../../../src/assets/img/svg/icon_alert.svg" alt="Bell icon">
        <span class="alert-bell"></span>
        <p class="user-title">Mike James Lee</p>
        <img class="image-user" src="../../../../../src/assets/img/PNG/profile_image.png" alt="User image">
        <!-- <button type="button" class="btn btn-primary position-relative">
            Inbox

          </button> -->

    </div>
</div>