* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bold", Arial, Helvetica, sans-serif;
}

#tabs {
    display: flex;
    transform: translate(71rem, 0rem) !important;
}

.contenedor-cards {
    flex: 1 auto;
    margin-left: 4rem;
    overflow: scroll;
    overflow-x: hidden;
}

.contenedor-items {
    display: flex;
    flex-wrap: wrap;
}

h4,
p {
    font-family: "Regular", Arial, Helvetica, sans-serif;
    font-size: 9.5pt;
}

.contenedor-titulo {
    display: flex;
    flex: 1 auto;
    flex-direction: row;
}

.custom-select {
    display: grid;
    flex: 1 auto;
    place-items: center;
    justify-content: flex-end;
}

.image-collage {
    display: flex;
    flex: 1 auto;
}

.image-list {
    display: flex;
    flex: 1 auto;
}

.custom-select>* {
    grid-area: 1 / 1;
    width: 8rem;
    padding: 9px 15px;
    min-height: 2rem;
}

.custom-select span {
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 15px;
    color: #333;
    border: 1px solid #dedede;
    background: #f5f5f5 url('../../../assets/img/svg/icon_dropdown.svg') no-repeat right 15px center;
}

select {
    border: none;
    opacity: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 15rem;
    margin: 1rem;
    border: none;
}

.container,
.dots-image,
.select-image {
    display: none;
}

.card:hover .container {
    display: flex;
    position: absolute;
    transform: translateY(105px);
    flex-direction: row;
    background: #fff;
    border-radius: 0 3px;
    border: none;
}

.card:hover .dots-image {
    display: flex;
    position: absolute;
    transform: translate(120px, -98px);
}

.dots-image:hover .select-image {
    display: flex;
    position: absolute;
    background-color: #fff;
    transform: translate(-41px, 26px) rotate(45deg);
    margin:auto;
    width:100px;
    height:100px;
    border-radius: 3px 57% 3rem 57%;
    -webkit-transform: translate(-41px, 26px) rotate(45deg);
    box-shadow:0 0 10px 0 black;
}
.list{
    display: flex;
    flex: 1 auto;
    margin:auto;
    width:100px;
    height:100px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    transform: translate(19px, -20px) rotate(-46deg);
}

.list ul{
    display: flex;
    flex: 1 auto;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: medium;
}

.list li{
    flex: 1 auto;
    font-size: 9.5pt;
}

.text {
    flex: 1 2%;
    flex-flow: column;
}

.image {
    flex: 1 auto;
    margin-left: auto;
    margin-right: auto;
}

.image img {
    width: 20px;
    object-fit: scale-down;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.label-img {
    object-fit: cover;
    height: inherit;
    border-radius: 3px;
}

.design-dots {
    display: flex;
    width: 12%;
    background-image: url('../../../assets/img/svg/icon_options.svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
}