<div class="contenedor-cards">
    <div class="design-dots">
        <span>Design Board 2021</span>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Images</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Projects</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="headers-card">
                <div class="contenedor-titulo">
                    <span>All Images</span>
                    <div class="custom-select">
                        <span></span>
                        <select [(ngModel)]="selectedOption" name="gender">
                               <option *ngFor="let option of selectOptions" [value]="option">
                                 {{option}}
                               </option>
                         </select>
                        <p>
                            {{ selectedOption }}
                        </p>
                    </div>
                </div>
                <div class="contenedor-items">
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 1.png" alt="Imagen 1.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                            <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../../assets/img/png/Imagen 2.png" alt="Imagen 2.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 3.png" alt="Imagen 3.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 4.png" alt="Imagen 4.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 5.png" alt="Imagen 5.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 6.png" alt="Imagen 6.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="label-img" src="../../../assets/img/png/Imagen 7.png" alt="Imagen 7.">
                        <div class="dots-image">
                            <img src="../../../assets/img/svg/icon_options.svg" alt="plus white">
                                                        <div class="select-image">
                                <div class="list">
                                    <ul>
                                      <li>
                                        Edit
                                      </li>
                                      <li>
                                        Print
                                      </li>
                                      <li>
                                        Duplicate
                                      </li>
                                      <li>
                                        Download
                                      </li>
                                    </ul>
                                  </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="text">
                                <h4>Teens Party</h4>
                                <p>date</p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/img/svg/icon_fix.svg" alt="icon fix">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>

    </div>
</div>