<div class="contenedor-sidebar">
    <ul>
        <li>
            <div class="contenedor-item">
                A
            </div>
        </li>
        <li>
            <div class="contenedor-item" [ngStyle]="{'color': changeColor()}">B</div>
        </li>
        <li>
            <div class="contenedor-item" [ngStyle]="{'color': changeColor()}">C</div>
        </li>
        <li>
            <div class="contenedor-item" [ngStyle]="{'color': changeColor()}">D</div>
        </li>
        <li>
            <div class="contenedor-item" [ngStyle]="{'color': changeColor()}">E</div>
        </li>
        <li><img src="../../../../../src/assets/img/svg/icon_plus_grey.svg" alt=""></li>
    </ul>
</div>